<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drinks
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goToFilters()">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let category of state | keyvalue; trackBy: trackCocktailCategory">
    <div *ngIf="state[category.key]">
      <app-coctail-list [category]="category.key"> </app-coctail-list>
    </div>
  </ion-item>
</ion-content>
